
lab1/.ipynb_checkpoints/Laboratorio_I-checkpoint.ipynb

lab1/octave-workspace

lab2/.ipynb_checkpoints/regresion_lineal-checkpoint.ipynb

lab2/regresion_lineal_P2.m~

lab2/regresion_lineal_P3.m~

lab2/octave-workspace

*.m~
